* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Coming Soon', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Oldenburg', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Roboto Mono', monospace;
}

body {
   background-color:rgb(36, 65, 104);
}
header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(110, 238, 84);
    border: 8px solid black;
    margin-top: 4rem;
    margin-left: 35rem;
    margin-right: 35rem;
    border-radius: 10px;
}

.text-under-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

p {
    margin-bottom: 1rem;
    font-weight: 500;
}


/*.img {
    background-image: url("xxx");
    width: 30rem;
    height: 30rem;
    background-size:contain;
    background-repeat: no-repeat;
    
    aspect-ratio: 1 / 1;
    
    */